video {
	width: 100%;
}
.video {
	width: 100%;
	height:auto;
}
.iconcaidan{
	font-size:10px;
	width: 700rpx;
	margin:20rpx auto -10rpx;
}
.iconcaidan::before{
	padding-right: 10rpx;
}
.uni-margin-wrap {
	width: 700rpx;
	margin:20rpx auto;
	margin-bottom: 130rpx;
}
.IntTitle{
	font-size:18px;
	margin: 30rpx auto;
	padding-bottom: 10rpx;
	width: 200rpx;
	text-align: center;
	border-bottom: 3px #5577ee solid;
}
.Introduce{
	background-color: #fff;
	height:auto;
	border-radius: 25rpx;
	padding:30rpx 40rpx;
}
.Introduce p{
	line-height: 25px;
	font-size: 15px;
}
.VideoList{
	background-color: #fff;
	height:auto;
	border-radius: 25rpx;
	padding:30rpx 50rpx;
}
.VideoList p{
	font-size: 16px;
	color: #000000;
	height: 80rpx;
	line-height: 80rpx;
	width: 600rpx;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.VideoList p::before{
	padding-right:20rpx ;
	font-size: 20px;
	color:#5577ee;
}
.select{
	border-bottom: 0.5rpx #ddd solid;
}
.bottom{
	position: fixed;
	text-align: center;
	bottom:0;
	width: 100%;
	height: 100rpx;
	background-color: #fff;
	border-top: 0.25rpx #bbb solid;
}
.button{
	height: 60rpx;
	width: 200rpx;
	line-height: 60rpx;
	color: #fff;
	margin:20rpx 50rpx;
	display: inline-block;
	background-color: #5577ee;
	border-radius: 25rpx;
}
.button_add{
	height: 60rpx;
	width: 200rpx;
	line-height: 60rpx;
	color: #aaa;
	margin:20rpx 50rpx;
	display: inline-block;
	background-color: #eee;
	border-radius: 25rpx;
}
.button_create{
	height: 60rpx;
	font-size: 14px;
	width: 100%;
	line-height: 60rpx;
	color: #aaa;
	margin:20rpx auto;
	display: inline-block;
}
.edit{
	height: 60rpx;
	width: 60rpx;
	line-height: 60rpx;
	text-align: center;
	position: absolute;
	color:#FF0033;
	margin-top:10rpx ;
	right: 80rpx;
}
.play{
	color:#57e!important;
}
.videoInfo_bg{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
}
.videoInfo{
	background-color: #fff;
	position: fixed;
	border-radius: 50rpx;
	z-index: 2;
	top: 480rpx;
	width: 645rpx;
	left: 52.5rpx;
	height: 400rpx;
	height: auto;
}
.live_title{
	width: 600rpx;
	text-align: center;
	font-size:18px;
	font-weight: bold;
	margin: 30rpx auto;
}
.live_cont{
	width: 560rpx;
	word-break:break-all;
	font-size:16px;
	margin: 30rpx auto;
	height: auto;
	line-height: 44rpx;
}
.live_Bt{
	text-align: center;
	margin-bottom: 15px;
}