.uni-margin-wrap {
	width: 700rpx;
	margin:20rpx auto;
	border-radius: 25rpx;
}
.tags{
	text-align: center;
}
.tag{
	display: inline-block;
	height: 40rpx;
	line-height: 40rpx;
	width: auto;
	padding: 5rpx 20rpx;
	margin: 10rpx 10rpx;
	color: #969896;
	font-size: 12px;
	background-color: #fff;
	border: 1px #969896 solid;
	border-radius: 30rpx;
}
.courseTitle{
	font-size:18px;
	margin: 30rpx 10rpx;
}
.courseNone{
	text-align: center;	
	color:#999;
	width:100%;
	margin:100rpx auto;
}
.courMore{
	text-align: center;
	color:#999;
	width:75%;
	height:55rpx;
	line-height: 55rpx;
	color:#5577ee;
	border-radius: 25rpx;
	border: 1rpx #5577ee solid;
	margin:10rpx auto;
}